.container_text{
	padding-top: 6em;
	padding-bottom: 3em;
}


.container_text_sobre{
	padding-top: 7em;
	padding-bottom: 3em;
	

}


.container_text_sobre h3{
	
    text-decoration: none;
    text-align: center;
    color: #000000;

}

.banner 

.container_text_sobre span{
	

}

.img_service:hover{
	opacity: 0.6;

}



.text_home{

	font-size: 1em;
	font-family: "Open Sans", sans-serif;
	
	color: #6c6360;
	line-height: 1.618;
	font-weight: 500;

	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.list-style-contratar li{
	padding: 0.5em;
	font-size: 1em;
	font-family: "Open Sans", sans-serif;
	
	color: #6c6360;
	line-height: 1.618;
	font-weight: 500;

	
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}




