


.rowMod {
 /*-moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em;*/

 -moz-column-width: 18em;
 -webkit-column-width: 22em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
  
}



.menu-category {
 display: inline-block;
 margin:  0.25rem;
 padding:  1rem;
 width:  100%; 

 
 


}

.intro-message_midia{
  padding-top: 7em;
  
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}



.header_midia{
  color: #ffffff;
  background-image: url(../img/foto_home.jpg);
  height: 15em;


}

#container_media{
  padding-top: 3em;
}


